// COLORS
$darkElements: hsl(209, 23%, 22%);
$fontLight: hsl(200, 15%, 8%);
$lightInput: hsl(0, 0%, 52%);
$lightBg: hsl(0, 0%, 98%);
$darkBg: hsl(207, 26%, 17%);
//FONTS
$font300: 'nunito-light';
$font600: 'nunito-semiBold';
$font800: 'nunito-extraBold';